*{
    font-family: 'Raleway';
}
body{background-color:hsl(229, 57%, 11%);}
.container{
    position: relative;
}
.image{
    position: absolute;
    top: 40vh;
    /* border:2px solid red; */
    z-index: -1;
}
.flap-cont{
    position: absolute;
    top: 25vh;
    left: 20vw;
    width: 22rem;
    height: 12rem;
    background-color:hsl(228, 56%, 26%) ;
    z-index: 1;
    border-radius: 1em 8em 1em 1em ;
}
.flap-cont .logo{
    position: absolute;
    top: 2em;
    left: 2em;
}
.flap-cont .props{
    position: relative;
    top: 6em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: hsl(229, 57%, 11%);
    margin: 0.5px;
    margin-left: 2em;
}

.flap-cont .document{
    padding:.9em 1em   ;
}

.r-flap{
    position: absolute;
    top: 5vh;
    left: 25vw;
    width: 32rem;
    height: 10rem;
    background-color:hsl(228, 56%, 26%) ;
    z-index: 1;
    border-radius: 1em 1em ;
}
.prog-parent{
    position: absolute;
    margin: 75px 50px;
    width: 400px;
    border-radius: 20px;
    background-color: hsl(229, 57%, 11%);
}
.prog-child{
    width: 326px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 20px;
    background-image: linear-gradient(to right , hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
    border: none;
}
.r-flap .msg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 50px;
    color: white;
}
.r-flap .start{
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    height: 230px;
    margin-left: 50px;
    color: white;
    
}
.r-flap .end{
    display: flex;
    /* align-items: center; */
    /* justify-content:flex-end; */
    position: absolute;
    top: 110px;
    right: 60px;
    color: white;
    /* border: 1px solid red; */
}
.outer-flap{
    width: 150px;
    height: 70px;
    background-color: hsl(243, 100%, 93%);
    position: absolute;
    right:  30px;
    top: -40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pt{
    width: 0px;
    height: 0px;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid hsl(243, 100%, 93%);
    position: absolute;
    top: 50px;
    right: 0px;
}

.outer-flap .warning{
    position: absolute;
    font-weight: 700;
}
